* {
  margin: 0;
}
body {
  background-color: #bbbfca;
}

h3 {
  color: #68b0ab;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}
.app__right__title {
  margin: 20px 0;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
